html,body{
    background-color: #fff;
    color: #000;
}

.header{
    color: #fff;
    background-color: transparent;
    background-image: linear-gradient(180deg, #000942 0%, #030D49 100%);
}

.intro{
    color: #fff;
}

.intro-wrapper{
    background: url(../newImages/bg-intro.png) no-repeat top center;
    background-size: 100% 100%;
}

.intro-img img {
    -webkit-mask-image: linear-gradient(178deg, #000000b8 80%, rgb(255 255 255 / 0%) 100%);
}

.hedging{
    padding: 100px 0 100px;
    background: url(../newImages/hedging-bg.png) no-repeat top center;
    background-size: 100% 100%;
}

.hedging .primary-title{
    color: #fff;
}

.chart-bg{
    background-image: none;
    color: #fff;
}

.footer{
    background: url(../newImages/footer-bg.png) no-repeat top center;
    background-size: 100% 100%;

    color: #fff;
}

.news{
    padding: 50px;
}

.workflow-title{
    text-transform: uppercase;
}

.strategy{
    background: url(../newImages/strategy-bg.png) no-repeat top center;
    background-size: 100% auto;
    background-color: #030D49;
    color: #fff;
    padding: 50px 0;
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .intro-wrapper{
        background-size: auto 100%;
        padding: 100px 0 100px;
    }

    .workflow{
        padding-top: 0 !important;
    }

    .workflow.hedging{
        background-size: auto 100%;
        padding-top: 100px !important;
    }

    .workflow-img-wrapper{
        width: 100% !important;
    }

    .news{
        padding: 0;
        padding-bottom: 20px;
    }

    .footer{
        background-size: auto 100%;
    }

    .strategy{
        padding-top: 30px !important;
    }
    
    .workflow-title{
        text-align: center;
    }

    .workflow-desc{
        font-style: normal;
    }
}