html,body{
    background-color: #fff;
    color: #000;
}

.header{
    color: #fff;
    background-color: #fff;}

.intro{
    color: #fff;
}

.intro-wrapper{
    background: url(../newImages/bg-intro.png) no-repeat top center;
    background-size: 100% 100%;
}

.workflow-img{
    height: 100%;
}

.intro-img img {
    -webkit-mask-image: linear-gradient(178deg, #000000b8 80%, rgb(255 255 255 / 0%) 100%);
}

.hedging{
    padding: 100px 0 100px;
    background: url(../newImages/hedging-bg.png) no-repeat top center;
    background-size: 100% 100%;
}

.hedging .primary-title{
    color: #fff;
}

.chart-bg{
    background-image: none;
    color: #fff;
}

.footer{
    background: url(../newImages/footer-bg.png) no-repeat top center;
    background-size: 100% 100%;

    color: #fff;
}

.news{
    padding: 50px;
}

.news-old{
    padding-bottom: 0;
}

.workflow-title{
    text-transform: uppercase;
}

.workflow-title-sub{
    font-size: 18px !important;
    text-transform: capitalize;
    /* font-style: italic; */
}

.strategy-sub-title{
    font-weight: 600;
    font-style: normal !important;
}

.strategy{
    background: url(../newImages/strategy-bg.png) no-repeat top center;
    background-size: 100% auto;
    background-color: #030D49;
    color: #fff;
    padding: 50px 0;
}

.workflow-img-wrapper{
    width: 70% !important;
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .intro-wrapper{
        background-size: auto 100%;
        padding: 100px 0 100px;
    }

    .workflow{
        padding-top: 0 !important;
    }

    .workflow.hedging{
        background-size: auto 100%;
        padding-top: 100px !important;
    }

    .workflow-img-wrapper{
        width: 100% !important;
    }

    .news{
        padding: 0;
        padding-bottom: 20px;
    }

    .footer{
        background-size: auto 100%;
    }

    .strategy{
        padding-top: 30px !important;
    }
    
    .workflow-title{
        text-align: center;
    }

    .workflow-desc{
        font-style: normal;
    }
}

.loading{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    z-index: 100000;
}

.loading img:first-child{
  width: 140px;
  transition: all 0.5s ease-in-out;
  transform: translateY(30px);
}

.loading img:last-child{
  max-width: 65px;
}

/* UPDATE ROADMAP */
.intro-wrapper{
    background-image: linear-gradient(180deg, #050F46 44%, #00246A 100%);
}

.roadmap{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    overflow-x: auto;

    padding: 0 2vw 0 7vw;
}

.roadmap-item{
    margin-right: 5.7vw;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.roadmap-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.roadmap-item-time{
    font-size: 12px;
    font-weight: 500;
}

.roadmap-item-point{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #00A8FF;
    margin: 4px 0;
    position: relative;
    transition:all .25s ease;
    cursor: pointer;
}

.roadmap-item-point:after{
  content:'';
  display:block;
  position:absolute;
  top:0; 
  right:0; 
  bottom:0; 
  left:0;
  border-radius:50%;
  border:1px solid #00A8FF;
	opacity:0;
	animation: ripple 900ms ease-out infinite;
}

.roadmap-item-point:hover{
  transform: scale(1.5);

}
.roadmap-item-point:hover:after{
    animation: none;
}	


@keyframes ripple {
  0% {transform:scale(1); }
  40% {transform:scale(1.75); opacity:1;}
	90% {transform:scale(1.9);}
  100% {transform:scale(2); opacity:0;}
}

.roadmap-item-line{
    border-right: 2px dotted #fff;
    height: 18vh;
}

.roadmap-item-line--2{
    height: 26vh;
}

.roadmap-item-line--3{
    height: 16vh;
}

.roadmap-item-line--4{
    height: 13vh;
}

.roadmap-item-line--5{
    height: 22vh;
}

.roadmap-item-line--6{
    height: 32vh;
}

.roadmap-item-content{
    position: relative;
}

.roadmap-item-text{
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;

    border: 1px solid #5CA7F6;
    padding: 10px;
    border-radius: 10px;

    text-align: center;

    width: 15vw;

    background-color: #11c6b73b;
    opacity: 0;

    transition: all 0.5s ease;
}

.roadmap-item-content:hover .roadmap-item-text{
    opacity: 1;
}


/* Mobile & Tablet */
@media (max-width: 1023px) {
    .roadmap-item-text{
        width: 50vw;
    }

    .roadmap-item-line--3{
        height: 19vh;
    }
}